<div class="container">
  <div class="row">
      <div class="col text-center">
        <a class="btn btn-outline-primary btn-rounded waves-effect w100">Tableau de bord</a>
      </div>
      <div class="col text-center">
        <a class="btn btn-outline-primary btn-rounded waves-effect w100">Heros</a>
      </div>
  </div>
  <div class="row">
    <div class="col text-center">
        <ul class="list-group">
            <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.active]="hero === selectedHero" class="list-group-item">{{ hero.name }}</li>
        </ul>
    </div>
    <div class="col text-center">
      <div *ngIf="selectedHero" class="md-form">
          <label for="form1" >Nom du heros</label><br><br>
          <input [(ngModel)]="selectedHero.name" id="form1" placeholder="Nom" class="form-control form-control-lg">    
      </div>
    </div>
    

  </div>
</div>
 